<div class="px-3 py-4 my-4 text-center">
    <h1 class="display-5 fw-bold">Welcome {{user.name}}</h1>
</div>
<div class="container mt-4">
    <div class="row" id="products-card">
        {{#each result.docs}}
        <div class="card col-sm-3 mb-4">
            <!-- Carousel -->
            <div id="slideshow" class="carousel slide" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#slideshow" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#slideshow" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#slideshow" data-bs-slide-to="2"></button>
                </div>


                <div class="carousel-inner">
                    {{#each thumbnails}}
                    <div class="carousel-item active">
                        <img src="{{this}}" alt="product image"
                            class="d-block card-img-top img-fluid mx-auto d-block img-rounded"
                            style="width:100%; height: 200px">
                    </div>
                    {{/each}}
                </div>

            </div>


            <div class="card-body ">
                <p class="price">
                <h4>${{this.price}}</h4>
                </p>
                <h2 class="card-title">{{this.title}}</h2>
                <p class="card-text">{{this.description}}</p>
                <button value={{this._id}} id="addToCard" class="btn btn-success add-product">Add To Card</button>
                <button value={{this._id}} id="addToCard" class="btn btn-success delete-product">Delete Product</a>
            </div>

        </div>
        {{/each}}
    </div>
    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {{#if result.hasPrevPage}}
                <li class="page-item"><a class="page-link" href="{{result.prevLink}}">Previous</a></li>
                {{/if}}
                <li class="page-item"><a class="page-link" href="#">{{result.page}}</a></li>
                {{#if result.hasNextPage}}
                <li class="page-item"><a class="page-link" href="{{result.nextLink}}">Next</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>
</div>
<button type="button" class="btn btn-primary mb-2 mx-2" style="position: fixed; bottom: 0;right:0;"
    data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
    Carrito
</button>
<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        {{#each cart.products}}
        <div class="mt-2 card shadow-sm"> 
            <div class="card-body">
                <h2 class="card-title">{{this.product.title}}</h2>
                <p>Price: {{this.product.price}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button value={{this.product._id}} type="button" class="btn btn-sm btn-outline-secondary add-product">add 1</button>
                        <button value={{this.product._id}} type="button" class="btn btn-sm btn-outline-secondary delete-product-cart">delete 1</button>
                    </div>
                    <small class="text-muted">quantity: {{this.quantity}}</small>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>

<style>
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #addToCard {
        text-align: center;
        border-radius: 1.5rem;
        border: none;
        border-width: 0.5rem;
        background-color: #ff7707f1;
        box-shadow: 1px 3px #ccc;
    }

    .btn-success:hover {
        color: #fff;
        background-color: #ffa807f1;
        border-color: #ff7707f1;
    }

    i {
        background-color: #ff7707f1;
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 0.5rem;
    }

    .card {
        width: 370px;
        padding: 0;
        margin: 0 auto;
        box-shadow: 2px 2px 10px 0px #ccc;
    }

    .carousel {
        width: 100%;
    }
</style>

<script src="js/index.js"></script>