<div class="container mt-4">
    <div class="row" id="products-card">
        {{#each result.docs}}
        <div class="col-sm-3 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/assortment-of-colorful-ripe-tropical-fruits-top-royalty-free-image-995518546-1564092355.jpg"
                    class="card-img-top" alt="img">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p>Price: {{this.price}}</p>
                    <p>Category: {{this.category}}</p>
                    <a href='/products/{{this._id}}'>Prodcut url</a>
                    <br />
                    <button value={{this._id}} class="add-product">Agrgar al carrito</button>
                    <button value={{this._id}} class="delete-product-cart">Quitar del carrito</button>
                    <button value={{this._id}} class="delete-product">Eliminar Producto</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {{#if result.hasPrevPage}}
                <li class="page-item"><a class="page-link" href="{{result.prevLink}}">Previous</a></li>
                {{/if}}
                <li class="page-item"><a class="page-link" href="#">{{result.page}}</a></li>
                {{#if result.hasNextPage}}
                <li class="page-item"><a class="page-link" href="{{result.nextLink}}">Next</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>
</div>
<button type="button" class="btn btn-primary mb-2 mx-2" style="position: fixed; bottom: 0;right:0;"
    data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
    Carrito
</button>
<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        
        {{#each cart.products}}
        <div class="card mb-3">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/assortment-of-colorful-ripe-tropical-fruits-top-royalty-free-image-995518546-1564092355.jpg" class="card-img-top" alt="img">
            <div class="card-body">
                <h5 class="card-title">{{this.id}}Titulo</h5>
                <p class="card-text">{{this.description}}Descripcion</p>
                <p class="card-text"><small class="text-muted">Price: {{this.price}}</small></p>
            </div>
        </div>
        {{/each}}
        
    </div>
</div>

<style>
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<script src="js/index.js"></script>